{% extends 'base.html.twig' %}

{% block body %}
    <h1>BlogPost list</h1>
    {% for blog in blogs %}
        <h3>{{ blog.country.name }}</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    {#<th>Country</th>#}
                    <th>Location</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for blogPost in blogPosts %}
                {% if blog.country.name == blogPost.country.name %}
                    <tr>
                        <td><a href="{{ path('blogpost_show', { 'id': blogPost.id }) }}">{{ blogPost.id }}</a></td>
                        <td class="blog-name-table">{{ blogPost.name }}</td>
                        {#<td>{{ blogPost.country.name }}</td>#}
                        <td>{{ blogPost.location }}</td>
                        <td>{{ blogPost.date|date('Y-m-d') }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('blog_show', { 'continent': blogPost.country.continent.name, 'country':blogPost.country.name, 'id': blogPost.id }) }}">show</a>
                                    <a href="{{ path('blogpost_edit', { 'id': blogPost.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}

    <ul>
        <li>
            <a href="{{ path('blogpost_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
