{% extends 'base.html.twig' %}

{% block body %}

{#==============================================================================

#}
    <h1>BlogPost creation</h1>

    {% if form_errors(form.date) %}
        <div class="alert alert-danger" role="alert">
            Please choose correct date.
        </div>
    {% endif %}

    {{ form_start(form, {'method': 'post', 'action': path('blogpost_new')}) }}
    <div class="row">
        <fieldset class="form-group">
            <label for="title">Title</label>
            {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'placeholder':"Enter name of article"} }) }}
        </fieldset>
        <fieldset class="form-group">
            <label for="country">Country</label>
            {{ form_widget(form.country, { 'attr': {'class': 'form-control', 'placeholder':"Country"} }) }}
        </fieldset>
        <fieldset class="form-group">
            <label for="location">Location</label>
            {{ form_widget(form.location, { 'attr': {'class': 'form-control', 'placeholder':"Location"} }) }}
            <small class="text-muted">Enter more specific location/region/city</small>
        </fieldset>
        <fieldset class="form-group">
            <label for="date">Date</label>
            {{ form_widget(form.date) }}
        </fieldset>
        <fieldset class="form-group">
            <label for="content">Content</label>
            {{ form_widget(form.content, { 'attr': {'class': 'form-control', 'placeholder':"Content"} }) }}
        </fieldset>
        <div>
            <button type="submit" class="btn btn-success">Post</button>
            <a type="button" class="btn btn-danger pull-right" href="/">Cancel</a>
        </div>
    </div>
    {{ form_end(form) }}
    <ul>
        <li>
            <a href="{{ path('blogpost_index') }}">Back to the list</a>
        </li>
    </ul>

{% endblock %}
