{% extends 'base.html.twig' %}

{% block body %}
    <h3>Results of search</h3>

    {% for result in results %}

        <a href="{{ path('blog_show', { 'continent': result.country.continent.name, 'country':result.country.name, 'id': result.id }) }}">
            {{ result.name }} {{ result.location }}
        </a>
        <br>
        {#<p>{{ result.id }} {{ result.name }}#}
            {#{{ result.location }}#}
        {#{% if result.date %}{{ result.date|date('Y-m-d') }}{% endif %}#}
        {#{{ result.content }}#}
        {#<p>#}


    {% endfor %}

{% endblock %}
