{% extends 'base-middle.html.twig' %}
{% block content %}
    <div id="page">
        <h1 class="list-header">Choose Continent:</h1>
        <div class="row marketing">
            <div class="col-lg-6">
                <div class="list-group">
                    <a href="{{ path('country_show', {'continent': "Europe"}) }}" class="list-group-item">
                        <h3 class="list-group-item-heading">Europe</h3>
                    </a>
                    <a href="{{ path('country_show', {'continent': "Asia"}) }}" class="list-group-item">
                        <h3 class="list-group-item-heading">Asia</h3>
                    </a>
                    <a href="{{ path('country_show', {'continent': "Americas"}) }}" class="list-group-item">
                        <h3 class="list-group-item-heading">Americas</h3>
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="list-group">
                    <a href="{{ path('country_show', {'continent': "Africa"}) }}" class="list-group-item">
                        <h3 class="list-group-item-heading">Africa</h3>
                    </a>
                    <a href="{{ path('country_show', {'continent': "Oceania"}) }}" class="list-group-item">
                        <h3 class="list-group-item-heading">Oceania</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}